[Unit]
Description=Jenkins CI Server for %p
After=docker.service
Requires=docker.service
Wants=%p_backup.timer
${addl_main_unit_set}

[Service]
ExecStartPre=-/usr/bin/docker stop %p
# http://stackoverflow.com/questions/25304728/c-application-terminates-with-143-exit-code-what-does-it-mean
SuccessExitStatus=143
ExecStart=/usr/bin/docker start -a %p
ExecStop=/usr/bin/docker stop %p
${addl_main_svc_set}

[Install]
WantedBy=multi-user.target
