[Unit]
Description=Perform Jenkins home directory backup
${addl_backup_unit_set}

[Service]
Type=oneshot
ExecStart=/usr/bin/tar czvf ${backup_directory} ${jenkins_home}
${addl_backup_svc_set}
